.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.modal-body {
  background-color:#F9F9FB;
  padding: 5px;
  overflow: scroll;
  min-height: 100%;
}

.calendar-style {
  font-size: small;
  z-index: 9999;
  margin-right: 5;
}

.calendar-input-style {
  font-size: small;
  background-color:#F9F9FB;
  border-color: #F9F9FB;
  border-width: 0;
  box-shadow: 1px 1px 2px 1px #bcbcbc;
}

.modal-main{
  min-width: 100%;
  bottom: 0;
  position: fixed;
  max-height: 70%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  align-self: center;
}


.modal-main-web{
  min-width: 410px;
  max-width: 410px;
  right: 0;
  position: absolute;
  margin-right: 30;
}

.modal-mobile-view{
  min-width: 90%;
  max-width: 90%;
  right: 0;
  position: absolute;
  margin-right: 30;
}

.guide-mobile{
  position: absolute;
  bottom: 10;
  left: 50;
  width: 100%;
  background-color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainlist {
  display: flex;
  flex-flow: column wrap; /* flex-direction: column */
  height: 600px;
}

 .mainlist ~ .mainlist {
  flex-flow: row wrap; /* flex-direction: row */
  max-height: auto; /* override max-height of the column direction */
}
.listitem {
  width: 150px;
  margin-bottom: 15px;
}
